{
  "openapi": "3.0.3",
  "info": {
    "title": "Check-Control-Messages API",
    "description": "",
    "version": "3.0.3-bd104c900c"
  },
  "servers": [
    {
      "url": "https://ckf-int.bg.net",
      "description": "EMEA-INT (Intranet)"
    },
    {
      "url": "https://ckf-int.bg.com",
      "description": "EMEA-INT (Internet)"
    },
    {
      "url": "https://mtls.ckf-int.bg.com",
      "description": "EMEA-INT (Internet, mTLS)"
    },
    {
      "url": "https://ckf-qa.bg.net",
      "description": "EMEA-QA (Intranet)"
    },
    {
      "url": "https://ckf-qa.bg.com",
      "description": "EMEA-QA (Internet)"
    },
    {
      "url": "https://mtls.ckf-qa.bg.com",
      "description": "EMEA-QA (Internet, mTLS)"
    },
    {
      "url": "https://ckf-us-qa.bg.net",
      "description": "US-QA (Intranet)"
    },
    {
      "url": "https://ckf-us-qa.bg.com",
      "description": "US-QA (Internet)"
    },
    {
      "url": "https://ckf-cn-qa.bg.net",
      "description": "CN-QA (Intranet)"
    },
    {
      "url": "https://ckf-qa.bg.com.cn",
      "description": "CN-QA (Internet)"
    },
    {
      "url": "https://ckf.bg.net",
      "description": "EMEA-PROD (Intranet)"
    },
    {
      "url": "https://ckf.bg.com",
      "description": "EMEA-PROD (Internet)"
    },
    {
      "url": "https://mtls.ckf.bg.com",
      "description": "EMEA-PROD (Internet, mTLS)"
    },
    {
      "url": "https://ckf-us.bg.net",
      "description": "US-PROD (Intranet)"
    },
    {
      "url": "https://ckf-us.bg.com",
      "description": "US-PROD (Internet)"
    },
    {
      "url": "https://ckf-cn.bg.net",
      "description": "CN-PROD (Intranet)"
    },
    {
      "url": "https://ckf.bg.com.cn",
      "description": "CN-PROD (Internet)"
    }
  ],
  "tags": [],
  "paths": {},
  "components": {}
}
